<div class="row ">

<div class="alert-box">
{% for message in messages %}
    <div data-closable class="callout {{ message.tags }}">
        {% if message.tags == 'alert' %}
            <i class="fas fa-exclamation-circle fa-lg" style="font-size: 2rem;"></i>
        {% elif message.tags == 'success' %}
            <i class="fa fa-check-circle fa-lg" style="font-size: 2rem;"></i>
        {% endif %}
        &nbsp;{{ message }}
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <i class="far fa-times-circle"></i>
        </button>
    </div>
{% endfor %}
</div>
</div>
