{% load i18n %}

{# MENU #}
<div data-sticky-container>
<div class="small-12 sticky" data-sticky data-options="marginTop: 0;" style="width:100%">
<div class="title-bar show-for-small-only" data-responsive-toggle="top-menu">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title" data-toggle>Menu</div>
</div>

<div class="top-bar row" id="top-menu">
    <div class="top-bar-left">
        <ul class="vertical medium-horizontal menu">
            <li class="menu-text"><a href="{% url 'company:companies' %}">TOASTERS</a></li>
        </ul>
    </div>

    <div class="top-bar-left">
        <ul class="medium-horizontal menu">

            <li class="{% if request.resolver_match.view_name == 'company:companies' %}active-menu{% endif %}">
                <a href="{% url 'company:companies' %}">{% trans 'Companies' %}</a></li>
            <li class="{% if request.resolver_match.view_name == 'gallery:albums' %}active-menu{% endif %}">
                <a href="{% url 'gallery:albums' %}">{% trans 'Gallery' %}</a></li>
{#            <li><a href="{% url 'gallery:albums' %}">{% trans 'Gallery' %}</a></li>#}
            <li><a href="#">{% trans 'Blog' %}</a></li>
            <li><a href="#">{% trans 'About' %}</a></li>
        </ul>
    </div>

    <div class="top-bar-right">
        <ul class="dropdown vertical medium-horizontal menu">

{#            <li><input type="search" placeholder={% trans "Search" %}></li>#}
{#            <li><a class="button small">#}
{#                <i class="fas fa-search fa-lg"></i>&nbsp{% trans "Search" %}</a></li>#}

            <li><a id="heart-menu" class="hollow alert button small" data-url="{% url 'api_company:company_list' %}">
                {% if cnt_fav > 0 %}
                    <i class="far fa-heart fa-lg fas fav"></i>
                {% else %}
                    <i class="far fa-heart fa-lg"></i>
                {% endif %}
                <span id="count_fav">
                    {% if cnt_fav %}{{ cnt_fav }}{% endif %}
                </span>
                {% trans "Favorites" %}</a></li>

{#        <p><button class="button" data-open="exampleModal1">Click me for a modal</button></p>#}


            {% if user.is_authenticated %}
                {% if user.full_name != '' and user.full_name != None %}
                    <li><a class="has-tip bottom" href="{% url 'accounts:home' %}" data-tooltip aria-haspopup="true"
                           data-disable-hover="false" tabindex="4" title="{% trans 'Account' %}">
                             <i class="far fa-user fa-lg"></i>&nbsp;{{ user.full_name|truncatechars:20 }}</a></li>
                {% else %}
                    <li><a class="has-tip bottom" href="{% url 'accounts:home' %}" data-tooltip aria-haspopup="true"
                           data-disable-hover="false" tabindex="4" title="{% trans 'Account' %}">
                                 <i class="far fa-user fa-lg"></i>&nbsp;{{ user|truncatechars:20 }}</a></li>
                {% endif %}
                <li><a class="icon-button has-tip bottom" href="{% url 'accounts:logout' %}" data-tooltip
                       aria-haspopup="true" data-disable-hover="false" tabindex="4" title="{% trans 'Log out' %}">
                            <i class="fas fa-sign-out-alt fa-lg" style="color: blueviolet"></i></a></li>
            {% else %}
                <li><a class="icon-button has-tip bottom right" href="{% url 'accounts:register' %}" data-tooltip
                       aria-haspopup="true" data-disable-hover="false" tabindex="1"
                       title="{% trans 'Registration for specialists' %}" data-alignment="right">
                            <i class="fas fa-user-plus fa-lg" style="color: #22bb5b"></i></a></li>
                <li class=""><a class="icon-button has-tip bottom" href="{% url 'accounts:login' %}" data-tooltip
                                aria-haspopup="true" data-disable-hover="false" tabindex="4"
                                title="{% trans "Log in" %}">
                            <i class="fas fa-sign-in-alt fa-lg" style="color: blueviolet"></i></a></li>
            {% endif %}
        </ul>
    </div>
</div>
</div></div>
{#<div class="row">#}
{#    <nav aria-label="You are here:" role="navigation">#}
{#        <ul class="row breadcrumbs">#}
{#            <li><a href="#">Home</a></li>#}
{#            <li><a href="#">Features</a></li>#}
{#            <li class="disabled">Gene Splicing</li>#}
{#            <li>#}
{#                <span class="show-for-sr">Current: </span> Cloning#}
{#            </li>#}
{#        </ul>#}
{#    </nav>#}
{#</div>#}
{##}
{#<br>#}