{% extends 'core/base.html' %}

{% block title %}
    Forgot password
{% endblock %}

{% block content %}
    <div class="row">
        <div class="card small-9 medium-5 large-4 float-center">
            <div class="card-divider">
                <h4>Forgot password</h4>
            </div>
            <div class="card-section">
                <form action="" method="post">{% csrf_token %}
                    {{ form }}
                    <button type='submit' class='button success small expanded'>Submit</button>
                </form>
            </div>
        </div>

    </div>
{% endblock %}
