{% extends 'core/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content  %}
{% url 'gallery:album_add' as url_album_add %}
{% url 'gallery:album_update' pk=album.pk as url_album_update %}
    <div class="row">
            {% if title %}<h4 class='header'>{{ title }}</h4><hr>{% endif %}
            <form data-abide novalidate method="POST" enctype="multipart/form-data">{% csrf_token %}
                <div class="grid-x grid-y">
                    <div class="float-center">
                        <div class="small-12 medium-6">
                            {{ form.name.errors }}
                            {{ form.name.label_tag }} {{ form.name }}
                        </div>
                        <div class="small-12 medium-6">
                            {{ form.summary.errors }}
                            {{ form.summary.label_tag }} {{ form.summary }}
                        </div>
                    </div>
                </div>

                <table class="table">
                    {{ photo_form.management_form }}

                    {% for form in photo_form.forms %}
                        {% if forloop.first %}
                            <thead>
                            <tr>
                                {% for field in form.visible_fields %}
                                    <th>{{ field.label|capfirst }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                        {% endif %}

                        <tr class="formset_row">
                            {% for field in form.visible_fields %}
                                <td>
                                    {# Include the hidden fields in the form #}
                                    {% if forloop.first %}
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                    {% endif %}
                                    {{ field.errors.as_ul }}
                                    {{ field }}
                                </td>
                            {% endfor %}
                        </tr>
                {% endfor %}
                </table>

                {% if request.path == url_album_add %}
                    <div class="button-group small medium-offset-3">
                        <a class="button secondary" href="{% url 'accounts:dashboard' %}">{% trans "Cancel" %}</a>
                        <button type='submit' class='button success'>{% trans "Add album" %}</button>
                    </div>
                {% elif request.path == url_album_update %}
                    <div class="button-group small medium-offset-3">
                        <a class="button alert small" href="{% url 'gallery:album_delete' pk=album.pk %}">{% trans "Delete" %}</a>
                        <a class="button secondary" href="{% url 'accounts:dashboard' %}">{% trans "Cancel" %}</a>
                        <button type='submit' class='button success'>{% trans "Update album" %}</button>
                    </div>
                {% endif %}
            </form>
    </div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/django-dynamic-formset/src/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $('.formset_row').formset({
        addText: '<i class="fas fa-plus fa-lg" style="color: green;"></i>&nbsp;{% trans "add photo" %}',
        deleteText: '<i class="far fa-trash-alt fa-lg float-center" style="color: red;"></i>',
        prefix: 'photo_set'
    });
</script>
{% endblock %}