{% extends 'core/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    List of Photos
{% endblock %}

{#{% block header %}#}
{#    <h2 class="subheader">Тамада и ведущий на свадьбу{% if header %}: {{ header }}{% endif %}</h2>#}
{#{% endblock %}#}

{% block content %}
    <div class="grid-x grid-margin-y">

        {# FORM FILTER #}
{#        <div class="cell small-12 medium-4 large-3">{% include 'company/include/form_filter.html' %}</div>#}

        {# LIST CARDS #}
        <div class="cell row small-12 medium-8 large-9">
            <div class="grid-margin-y">

                {# HEADER #}
                <h3 class="subheader text-center">
                    {% if header.location %}{% trans 'City' %}: {{ header.location }}{% endif %}
                    {% if header.type %}{% trans 'Type' %}: {{ header.type }}{% endif %}
                    {% if header.price %}{% trans 'Price' %}: {{ header.price }}{% endif %}
                </h3>


                {# CARDS #}
{#                <div class="grid-x grid-margin-x grid-margin-y align-left">#}
{#                    {% for photo in photos %}#}
{#                        <div class="cell small-12 medium-4 large-3">#}
{#                            <div class="thumbnail card " style="height: 100%; width: 100%;">#}
{#                                {% if photo.image %}#}
{#                                <div style="height: 200px">#}
{#                                    <a href="{% url 'company:company_detail' pk=company.id %}">#}
{#                                        <img class="float-center" src="{{ photo.image.thumbnail.url }}">#}
{#                                    </a>#}
{#                                </div>#}
{#                                {% endif %}#}
{#                                <h5 class="card-section text-center">#}
{#                                    <a class=""#}
{#                                       href="{% url 'company:company_detail' pk=company.id %}">{{ company.name|truncatechars:50 }}</a>#}
{#                                    {{ photo.name|truncatechars:50 }}#}
{#                                    <br>{{ photo.summary|truncatechars:50 }}#}
{##}
{#                                    <br>{{ photo.album }}#}
{#                                </h5>#}
{#                            </div>#}
{#                        </div>#}
{##}
{##}
{#                    {% empty %}#}
{#                        <div class="float-center">Не найдено</div>#}
{#                    {% endfor %}#}
{#                </div>#}

                <!-- Show albums -->
                {% if albums.all.count > 0 %}
                    <div class="cell grid-x grid-margin-y align-left" >
                    <h5 class="cell">
                        <small>{% trans "More albums" %}({% trans "count" %}: {{ albums.all.count }})</small><hr>
                    </h5>
                        {% for album in albums %}
                            <div class="cell small-12 medium-6 large-3">
                                <div class="thumbnail">
                                    <div style="height: 200px">
                                        <img class="float-center" src="{{ album.get_cover_photo.image.thumbnail.url }}">
                                        </a>
                                    </div>

                                    <h5 class="card-section text-center">
                                        <a class="" href="/company/{{ id }}">{{ album.name }}</a>
                                    </h5>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}


                <div class="cell grid-x grid-margin-y align-left" >
                <h5 class="cell">{{ current_album.name }}
                    <span class="badge success">{{ photos.all.count }}</span><hr>
                </h5>
                    {% for photo in photos %}
                        <div class="cell small-12 medium-6 large-3">
                            <div class="thumbnail">
                                <div style="height: 200px">
                                    <img class="float-center" src="{{ photo.image.thumbnail.url }}">
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        {% trans "Empty" %}
                    {% endfor %}
                </div>



            </div>
        </div>
    </div>
{% endblock %}