{% extends 'core/base.html' %}
{% load i18n %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<div class="grid-x">
    <div class="cell small-12 medium-5 large-4 float-center">
        <div class="card">
            <div class="card-divider">
                <h4>{{ title }}</h4>
            </div>

            <div class="card-section">
            <form method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ form.media }}
            {% for error in form.non_field_errors %}
                <div class="alert callout">
                    {{ error|escape }}
                </div>
            {% endfor %}
            <div>
                {{ form.image.errors }}
                {{ form.image.label_tag }} {{ form.image }}
            </div>
            <div>
                {{ form.album.errors }}
                {{ form.album.label_tag }} {{ form.album }}
            </div>
            <div>
                {{ form.name.errors }}
                {{ form.name.label_tag }} {{ form.name }}
            </div>
            <div>
                {{ form.title.errors }}
                {{ form.title.label_tag }} {{ form.title }}
            </div>
            <div>
                {{ form.is_cover_photo.errors }}
                {{ form.is_cover_photo }}{{ form.is_cover_photo.label_tag }}
            </div>

            <button type='submit' class='button success expanded'>{% trans "Add photo" %}</button>
            <a class="button secondary expanded" href="{% url 'accounts:dashboard' %}">{% trans "Cancel" %}</a>

            </form>
        </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        {#var inputs = document.querySelectorAll( '.inputfile' );#}
        {#console.log(inputs);#}
        {#Array.prototype.forEach.call( inputs, function( input )#}
        {#{#}
        {#    var label	 = input.nextElementSibling,#}
        {#        labelVal = label.innerHTML;#}
        {##}
        {#    input.addEventListener( 'change', function( e )#}
        {#    {#}
        {#        var fileName = '';#}
        {#        if( this.files && this.files.length > 1 )#}
        {#            fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );#}
        {#        else#}
        {#            fileName = e.target.value.split( '\\' ).pop();#}
        {##}
        {#        if( fileName )#}
        {#            label.querySelector( 'span' ).innerHTML = fileName;#}
        {#        else#}
        {#            label.innerHTML = labelVal;#}
        {#    });#}
        {#});#}
    </script>
{% endblock %}
