{% load staticfiles %}
{% load i18n %}
<!doctype html>
{#<html class="no-js" lang="en">#}
<head>
    <meta charset="utf-8"/>
{#    <meta http-equiv="x-ua-compatible" content="ie=edge">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>#}
    <title>{% block title %}{% endblock %} | TOASTERS</title>
{#    {% block extrahead %}{% endblock %}#}

    {# FOUNDATION #}
    <link rel="stylesheet" href="{% static 'foundation-6.4.2-complete/css/foundation.min.css' %}">

    {###  FONT  ###}
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.0.6/on-server/css/fontawesome-all.css' %}">
    <script defer src="{% static 'fontawesome-free-5.0.6/on-server/js/fontawesome-all.min.js' %}"></script>

    {# SELECT 2 #}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    {# FOTORAMA #}
{#    <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->#}

    {% block link %}{% endblock %}
    <link rel="stylesheet" href="{% static 'upButton/upButton.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">

</head>
<body>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-2195009-2', 'auto');
    ga('send', 'pageview');

    ga('create', 'UA-2195009-27', 'auto', {name: "foundation"});
    ga('foundation.send', 'pageview');
</script>

{# MENU #}
<div class="title-bar show-for-small-only" data-responsive-toggle="top-menu">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title" data-toggle>Menu</div>
</div>

<div class="top-bar row" id="top-menu">
    <div class="top-bar-left">
        <ul class="dropdown vertical medium-horizontal menu">
            <li class="menu-text">TOASTERS</li>
            {#                <li class="has-submenu">#}
            {#                    <a href="#">One</a>#}
            {#                    <ul class="submenu menu vertical" data-submenu>#}
            {#                        <li><a href="#">One</a></li>#}
            {#                        <li><a href="#">Two</a></li>#}
            {#                        <li><a href="#">Three</a></li>#}
            {#                    </ul>#}
            {#                </li>#}

            <li><a href="{% url 'company:companies' %}">Companies</a></li>
            <li><a href="{% url 'gallery:albums' %}">Gallery</a></li>
            {#                <li><a href="{% url 'toast:toasters' %}">Toasters</a></li>#}
            {#                <li><a href="{% url 'toast:tags' %}">Tags</a></li>#}
        </ul>
    </div>

    <div class="top-bar-right">
        <ul class="dropdown vertical medium-horizontal menu">

            <li><input type="search" placeholder={% trans "Search" %}></li>
            <li><a class="button small">
                <i class="fas fa-search fa-lg"></i>&nbsp{% trans "Search" %}</a></li>

            {% if user.is_authenticated %}
                {% if user.full_name != '' and user.full_name != None %}
                    <li><a class="has-tip bottom" href="{% url 'accounts:home' %}" data-tooltip aria-haspopup="true"
                           data-disable-hover="false" tabindex="4" title="{% trans 'Account' %}">
                             <i class="far fa-user fa-lg"></i>&nbsp;{{ user.full_name|truncatechars:20 }}</a></li>
                {% else %}
                    <li><a class="has-tip bottom" href="{% url 'accounts:home' %}" data-tooltip aria-haspopup="true"
                           data-disable-hover="false" tabindex="4" title="{% trans 'Account' %}">
                                 <i class="far fa-user fa-lg"></i>&nbsp;{{ user|truncatechars:20 }}</a></li>
                {% endif %}
                <li><a class="icon-button has-tip bottom" href="{% url 'accounts:logout' %}" data-tooltip aria-haspopup="true"
                       data-disable-hover="false" tabindex="4" title="{% trans 'Log out' %}">
                            <i class="fas fa-sign-out-alt fa-lg" style="color: blueviolet"></i></a></li>
            {% else %}
                <li><a class="icon-button has-tip bottom right" href="{% url 'accounts:register' %}" data-tooltip aria-haspopup="true"
                       data-disable-hover="false" tabindex="1"
                       title="{% trans 'Registration for specialists' %}" data-alignment="right">
                            <i class="fas fa-user-plus fa-lg" style="color: #22bb5b"></i></a></li>
                <li class=""><a class="icon-button has-tip bottom" href="{% url 'accounts:login' %}" data-tooltip
                                aria-haspopup="true" data-disable-hover="false" tabindex="4"
                                title="{% trans "Log in" %}">
                            <i class="fas fa-sign-in-alt fa-lg" style="color: blueviolet"></i></a></li>
            {% endif %}
        </ul>
    </div>
</div>

<div class="row">
    <nav aria-label="You are here:" role="navigation">
        <ul class="row breadcrumbs">
            <li><a href="#">Home</a></li>
            <li><a href="#">Features</a></li>
            <li class="disabled">Gene Splicing</li>
            <li>
                <span class="show-for-sr">Current: </span> Cloning
            </li>
        </ul>
    </nav>
</div>

<br>

<!-- CONTENT -->
<div class="row">
    {% include 'core/include/messages.html' %}
    {% block content %}{% endblock %}
</div>

<!-- FOOTER -->
<footer style="visibility:hidden;">
    <div class="grid-x grid-margin-x">
        <div class="cell large-3 grid-x grid-y grid-margin-y">
            <a class="" href="#">О ПРОЕКТЕ</a>
            <a class="" href="#">About</a>
            <a class="" href="#">Contact</a>
            <a class="" href="{% url 'accounts:register' %}">
                {% trans 'Registration for specialists' %}</a>
            <p>Copyright 2018</p>
        </div>
        <div class="cell large-3 grid-x grid-y grid-margin-y">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
            <a class="" href="{% url 'accounts:register' %}">
                {% trans 'Registration for specialists'|upper %}</a>
            <p>Copyright 2018</p>
        </div>
    </div>
</footer>

<!-- BUTTON UP -->
<button id="upBtn" class="button warning" type="button" data-tooltip tabindex="1"
        title="{% trans 'Back to top' %}" data-position="left" data-alignment="center">
    <i class="fas fa-chevron-up" style="font-size:2em; color:whitesmoke"></i>
</button>

<script type="text/javascript"
	 src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- FOUNDATION -->
{#<script src="{% static 'foundation-6.4.2-complete/js/vendor/jquery.js' %}"></script>#}
<script src="{% static 'foundation-6.4.2-complete/js/vendor/foundation.min.js' %}"></script>
{##}
<script src="{% static 'foundation-6.4.2-complete/js/vendor/what-input.js' %}"></script>
<script src="{% static 'foundation-6.4.2-complete/js/app.js' %}"></script>

<!-- SCROLL -->
<script src="{% static 'smoothscroll-for-websites/SmoothScroll.js' %}"></script>
<script>SmoothScroll()</script>

{% block javascript %}{% endblock %}

<script src="{% static 'js/foundationStickyFooter/stickyFooter.js' %}"></script>
<script src="{% static 'upButton/upButton.js' %}"></script>

{#<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->#}

<!-- Jssor Slider Begin -->
{#<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>#}
{#<script type="text/javascript" src="{% static 'jssor.slider.devpack/js/jssor.slider.min.js' %}"></script>#}

<script src="{% static 'js/app.js' %}"></script>

</body>
</html>
