{% load staticfiles %}
{% load i18n %}
<!doctype html>
{#<html class="no-js" lang="en">#}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    {# Setting the viewport to make your website look good on all devices #}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %} | TOASTERS</title>

    {# FOUNDATION #}
{#    <link rel="stylesheet" href="{% static 'foundation-6.4.2-complete/css/foundation.min.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">

    {###  FONT  ###}
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.0.6/on-server/css/fontawesome-all.css' %}">
    {#<script defer src="{% static 'fontawesome-free-5.0.6/on-server/js/fontawesome-all.min.js' %}"></script> #}

    {# SELECT 2 #}
{#    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>#}
    <link rel="stylesheet" href="{% static 'select2-foundation_theme/dist/select2-foundation-theme.css' %}">

    {% block link %}{% endblock %}
    <link rel="stylesheet" href="{% static 'upButton/upButton.css' %}">
    <link rel="stylesheet" href="{% static 'dist/app.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">

</head>
<body>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-2195009-2', 'auto');
    ga('send', 'pageview');

    ga('create', 'UA-2195009-27', 'auto', {name: "foundation"});
    ga('foundation.send', 'pageview');
</script>

{# PROGRESSBAR #}


<!-- NAV -->
{#{% include 'core/include/nav_main.html' %}#}
{% include 'core/include/nav_main_one.html' %}


<!-- HEADER -->
{% block header %}{% endblock %}
{#{% block nav-company %}{% endblock %}#}


<!-- CONTENT -->
<div class="row content float-center">
    {% include 'core/include/messages.html' %}
    {% block content %}{% endblock %}
</div>

<!-- FOOTER -->
{% include 'core/include/footer.html' %}


<!-- BUTTON UP -->
<button id="upBtn" class="button" type="button" data-tooltip tabindex="1"
        title="{% trans 'Back to top' %}" data-position="left" data-alignment="center">
    <i class="fas fa-chevron-up" style="font-size:2em; color:whitesmoke"></i>
</button>

{# MODAL FAVORITES #}
{% include 'core/include/modal_fav.html' %}

<!-- JQUERY -->
{#<script type="text/javascript"#}
{#	 src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}
<script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>

<!-- FOUNDATION -->
{#<script src="{% static 'foundation-6.4.2-complete/js/vendor/jquery.js' %}"></script>#}
<script src="{% static 'foundation-sites/dist/js/foundation.min.js' %}"></script>
{#<script src="{% static 'foundation-6.4.2-complete/js/vendor/what-input.js' %}"></script>#}
<script src="{% static 'what-input/dist/what-input.min.js' %}"></script>
<script>$(document).foundation();</script>


<!-- SCROLL -->
<script src="{% static 'smoothscroll-for-websites/SmoothScroll.js' %}"></script>
<script>SmoothScroll()</script>

{% block javascript %}{% endblock %}

<script src="{% static 'js/foundationStickyFooter/stickyFooter.js' %}"></script>
<script src="{% static 'upButton/upButton.js' %}"></script>

<!-- MUSTACHE JS -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>

{#<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->#}

<!-- Jssor Slider Begin -->
{#<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>#}
{#<script type="text/javascript" src="{% static 'jssor.slider.devpack/js/jssor.slider.min.js' %}"></script>#}

<!-- SELECT 2 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>


{% block js %}{% endblock %}
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
{#<script src="{% static 'dist/bundle.js' %}"></script>#}
</body>
</html>
