#upBtn {
  display:none;
  background-color: coral;
  position: fixed;
  bottom: 20px;
  right: 50px;
  transition: background-color .3s;
  z-index: 100;
}

#upBtn:hover {
    cursor: pointer;
    background-color: rgba(255, 129, 83, 0.63);
}
#upBtn:active {
    background-color: coral;
}

@media screen and (max-width: 640px) {
    #upBtn {
        right: 15px;
    }
}

