footer{
    background-color: #2e353d;
    margin-top: 15px;
    min-height: 5em;
    padding: 30px;
    color: white;
    font-family: ItimCyrillic;
}

.footer-logo a, .footer-logo a:hover{
    color: white;
    font-size: 36px;
    font-family: OstrichSans-Bold;
    padding-top: 0;
    padding-bottom: 0;
}