//https://foundation.zurb.com/sites/docs/sass.html#adjusting-css-output

// Foundation 6
@import 'settings';
@import '~foundation-sites/scss/foundation';
@include foundation-everything;

//// Global styles
//@include foundation-global-styles;
//@include foundation-forms;
//@include foundation-typography;
//
//// Grids
//@include foundation-grid;
//
//// Generic components
//@include foundation-button;
//@include foundation-button-group;
//@include foundation-label;
//
//// Basic components
//@include foundation-card;
//@include foundation-pagination;
//
//// Containers
////@include foundation-accordion;
//@include foundation-media-object;
//@include foundation-orbit;
//@include foundation-responsive-embed;
//@include foundation-tabs;
//@include foundation-thumbnail;

// Select 2
@import '~select2/src/scss/core';


@font-face {
    font-family: OstrichSans-Bold;
    src: url('/static/fonts/OstrichSans-Bold.otf');
}
@font-face {
    font-family: ItimCyrillic;
    src: url('/static/fonts/ItimCyrillic.otf');
}

//$main-color: coral;
//$main-color: coral;
//$light-color: lightcoral;

$max-width-content: 980px;




 //Dependencies
@import 'menu';
@import 'companies';
@import 'card-form';
@import 'filter';
@import 'footer';



// SELECT2
@media screen and (max-width: 767px) {
  .form-select2-type, .form-select2-city, .form-select2-price {
    width: 100%;
  }
}

.pagination{
  a:hover{
    background-color: $light-color;
  }

  a.current{
    background-color: $main-color;
  }
}

.short-text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-company-list {
    background-color: coral;
    color: white;
    height: 200px;
}

.content {
    margin-top: 10px;
    max-width: $max-width-content;
}


