footer{
  background-color: #b0b0b0;
  margin-top: 15px;
  min-height: 5em;
  padding: 24px;

}

hr{
  /*border-color: #1CDB60;*/
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}

/*.fi-address-book{*/
    /*font-size: 36px;*/
    /*color: #fda6db;*/
/*}*/

/*.card-section {*/
  /*-ms-flex: 1 0 auto;*/
      /*flex: 1 0 auto;*/
  /*padding: 1rem;*/
    /*margin-top: 1rem;*/
/*}*/
  /*.card-section > :last-child {*/
    /*margin-bottom: 0; }*/

.help-text {
  margin-top: 0.5rem;
}

.helptext > ul {
    list-style-type: none;
}

.errorlist {
    font-size: 16px;
    color: red;
}

.errorlist > li {
    list-style-type: none;
}

.icon {
    font-size: 18px;
    color: black;
}

.row {
  padding-left: 15px;
  padding-right: 15px;
}

/*Alerts*/
.alert-box {
  /*padding-right: 3.25rem;*/
  position: absolute;
  right: 30px;
  /*width: 100%;*/
}

.alert-box > .callout {
  color: #fefefe;
  font-weight: bold;
}

.alert-box > .alert {
  border: 3px solid #cc6925;
  border-radius: 5px;
  background-color: #cc1e2b;
  padding-right: 3.25rem;
  /*color: Tomato;*/
}
/*.alert-box.alert::before {*/
  /*border: 2px solid #fefefe;*/
  /*border-radius: 50%;*/
  /*padding: .3em .325em;*/
  /*margin-right: 0.5rem;*/
  /*display: inline-block;*/
  /*line-height: 1.2;*/
  /*font-family: "Font Awesome 5 Solid";*/
  /*content: "\f12a";*/
/*}*/

.alert-box>.warning {
  border: 3px solid #ffae00;
  border-radius: 5px;
  background-color: rgba(255, 174, 0, 0.2);
}
/*.alert-box.warning:before {*/
  /*border: 2px solid #fefefe;*/
  /*border-radius: 50%;*/
  /*padding: .3em .325em;*/
  /*margin-right: 0.5rem;*/
  /*display: inline-block;*/
  /*line-height: 1.2;*/
  /*font-family: "FontAwesome";*/
  /*content: "\f071";*/
/*}*/

.alert-box>.success {
  border: 3px solid #1CDB60;
  border-radius: 5px;
  background-color: #2D9148;
  padding-right: 3.25rem;
}
/*.alert-box.success:before {*/
  /*border: 2px solid #fefefe;*/
  /*border-radius: 50%;*/
  /*padding: .3em .325em;*/
  /*margin-right: 0.5rem;*/
  /*display: inline-block;*/
  /*line-height: 1.2;*/
  /*font-family: "FontAwesome";*/
  /*content: "\f00c";*/
/*}*/

.alert-box>.info {
  border: 3px solid #1779ba;
  border-radius: 5px;
  background-color: rgba(23, 121, 186, 0.2);
  padding-right: 3.25rem;

}
.alert-box>.info:before {
  border: 2px solid #fefefe;
  border-radius: 50%;
  padding: .3em .325em;
  margin-right: 0.5rem;
  display: inline-block;
  line-height: 1.2;
  font-family: "FontAwesome";
  content: "\f06e";
}

/*.alert-box i {*/
  /*border: 2px solid #fefefe;*/
  /*border-radius: 50%;*/
  /*padding: .3em .325em;*/
  /*margin-right: 0.5rem;*/
/*}*/

.callout>.close-button {
  color: #fefefe;
  font-size: 2rem;
  /*position: absolute;*/
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 1rem;
  font-weight: bold;
}
.alert>.close-button:hover {
  color: #cc6925;
}
.success>.close-button:hover{
  color: #1CDB60;
}

.form-filter-city {

}
.form-filter-city:before{
  font-family: "FontAwesome";
  content: "\f041";
}

.breadcrumbs{
  margin: 10px 0 10px 0;
}
.has-tip{
  border-bottom: none;
  cursor: pointer;
}

.icon-button{
  margin-left: 0!important;
  margin-right: 0!important;
  padding-left: 10px!important;
  padding-right: 10px!important;
}

/*.form-select2{*/
  /*max-height: 10px;*/
  /*overflow-y: auto;*/
/*}*/

.header{
  color: #000;
  padding: 10px 0 0px 10px;
}

.div-slick{
  margin: 0 25px;
}

.slick-prev:before, .slick-next:before{
  color: #0a0a0a;
}

.fav{
  color: red;
}

/*#avatar{
  position: relative;
  /*display: block;*/
  /*z-index: ;*/

/*#favorite{
  position: absolute;
  display: block;
  z-index: 99;
  top: 15px;
  right: 15px;
  color: #fff;
}*/

.portfolio-item {
	/*margin: 15px 0;*/
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.portfolio-item:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.portfolio-item .hover-bg {
	height: 195px;
	overflow: hidden;
	position: relative;
}
.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.66);
	padding: 30% 0 0 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	opacity: 0;
	color: #fff;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
	font-size: 16px;
	font-weight: 300;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg .hover-text>i {
	opacity: 0;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>i {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}

