@font-face {
    font-family: OstrichSans-Bold;
    src: url('/static/fonts/OstrichSans-Bold.otf');
}
@font-face {
    font-family: ItimCyrillic;
    src: url('/static/fonts/ItimCyrillic.otf');
}

footer{
    background-color: #2e353d;
    margin-top: 15px;
    min-height: 5em;
    padding: 30px;
    color: white;
    font-family: ItimCyrillic;
}

.footer-logo a, .footer-logo a:hover{
    color: white;
    font-size: 36px;
    font-family: OstrichSans-Bold;
    padding-top: 0;
    padding-bottom: 0;
}

hr{
  /*border-color: #1CDB60;*/
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}

.help-text {
  margin-top: 0.5rem;
}

.helptext > ul {
    list-style-type: none;
}

.errorlist {
    font-size: 16px;
    color: red;
}

.errorlist > li {
    list-style-type: none;
}

.icon {
    font-size: 18px;
    color: black;
}

.row {
  padding-left: 15px;
  padding-right: 15px;
}

/*Alerts*/
.alert-box {
  /*padding-right: 3.25rem;*/
  position: absolute;
  right: 30px;
  /*width: 100%;*/
}

.alert-box > .callout {
  color: #fefefe;
  font-weight: bold;
}

.alert-box > .alert {
  border: 3px solid #cc6925;
  border-radius: 5px;
  background-color: #cc1e2b;
  padding-right: 3.25rem;
  /*color: Tomato;*/
}
.alert-box>.warning {
  border: 3px solid #ffae00;
  border-radius: 5px;
  background-color: rgba(255, 174, 0, 0.2);
}
.alert-box>.success {
  border: 3px solid #1CDB60;
  border-radius: 5px;
  background-color: #2D9148;
  padding-right: 3.25rem;
}
.alert-box>.info {
  border: 3px solid #1779ba;
  border-radius: 5px;
  background-color: rgba(23, 121, 186, 0.2);
  padding-right: 3.25rem;

}
.alert-box>.info:before {
  border: 2px solid #fefefe;
  border-radius: 50%;
  padding: .3em .325em;
  margin-right: 0.5rem;
  display: inline-block;
  line-height: 1.2;
  font-family: "FontAwesome";
  content: "\f06e";
}

.callout>.close-button {
  color: #fefefe;
  font-size: 2rem;
  /*position: absolute;*/
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 1rem;
  font-weight: bold;
}
.alert>.close-button:hover {
  color: #cc6925;
}
.success>.close-button:hover{
  color: #1CDB60;
}



.breadcrumbs{
  margin: 10px 0 10px 0;
}
.has-tip{
  border-bottom: none;
  cursor: pointer;
}

.icon-button{
  margin-left: 0!important;
  margin-right: 0!important;
  padding-left: 10px!important;
  padding-right: 10px!important;
}


.header{
  color: #000;
  padding: 10px 0 0px 10px;
}

.div-slick{
  margin: 0 25px;
}

.slick-prev:before, .slick-next:before{
  color: #0a0a0a;
}

.fav{
  color: red;
}

.portfolio-item {
	/*margin: 15px 0;*/
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.portfolio-item:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.portfolio-item .hover-bg {
	height: 195px;
	overflow: hidden;
	position: relative;
}
.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.66);
	padding: 30% 0 0 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	opacity: 0;
	color: #fff;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
	font-size: 16px;
	font-weight: 300;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg .hover-text>i {
	opacity: 0;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>i {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}

/* Top, Menu*/
.top-bar, .top-bar ul{
    background-color: coral;
}
.menu {
    font-family: ItimCyrillic;

}
.menu .menu-text,
.menu .menu-text a,
.menu .menu-text a:hover {
    color: white;
    font-size: 36px;
    font-family: OstrichSans-Bold;
    padding: 0;
    /*padding-top: 0;*/
    /*padding-bottom: 0;*/
}
.top-bar-left{
    color: white;
    font-size: 18px;
    padding-left: 15px;
    /*margin-top: 0;*/
    /*margin-bottom: 0;*/
}
.top-bar-left a {
    color: white;
    font-size: 30px;
    padding-top: 0;
    padding-bottom: 0;
}
.menu a:hover{
    /*color: #1CDB60;*/
    color: grey;
}
.active-menu a, .active-menu a:hover{
    color: darkslategrey;
}

.content {
    margin-top: 10px;
}

.header-company-list {
    background-color: coral;
    color: white;
    height: 200px;
}

/*.header-info{*/
    /*display: flex;*/
    /*display: -moz-flex;*/
    /*display: -webkit-flex;*/
    /*display: -ms-flex;*/
    /*display: -webkit-box;*/

    /*flex-flow: wrap;*/
    /*justify-content: center;*/
    /*align-items: center;*/
/*}*/

/*body {overflow-x: hidden;}*/

/*FILTER*/
#form-filter {
    background-color: coral;

    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;

    /*flex-flow: row ;*/
    /*flex-wrap: wrap;*/
    align-content: center;
    justify-content: center;
    color: white;
}

#form-filter label{
    color: white;
}

.form-select2-type, .form-select2-city, .form-select2-price {
    /*width: 100% !important;*/
    width: 300px;
}

.select2-container {
    margin: 0 0 15px 0;
}

.sticky-container {
    z-index: 1061;   // .select2-dropdown z-index: 1051 // выпадающий список поверх .sticky-container
}


/*CARD*/
.thumbnail-new {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: solid 4px #fefefe;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 1px rgba(204, 55, 43, 0.4);
          box-shadow: 0 0 0 1px rgba(204, 55, 43, 0.54);
  line-height: 0;
    color: black;
}

.thumbnail-new {
  -webkit-transition: -webkit-box-shadow 200ms ease-out;
  transition: -webkit-box-shadow 200ms ease-out;
  transition: box-shadow 200ms ease-out;
  transition: box-shadow 200ms ease-out, -webkit-box-shadow 200ms ease-out;
}

a.thumbnail-new:hover, a.thumbnail-new:focus {
/*a.thumbnail-new:hover image, a.thumbnail-new:focus image{*/
    -webkit-box-shadow: 0 0 6px 1px rgba(254, 70, 54, 0.5);
            box-shadow: 0 0 6px 1px rgba(254, 70, 54, 0.5);
    background-color: coral;
    color: white;
}

a.thumbnail-new image {
    -webkit-box-shadow: none;
            box-shadow: none;
}

.card-user-container:hover {
    /*-moz-transform: scale(1.05); !* Для Firefox *!*/
    /*-ms-transform: scale(1.05); !* Для IE *!*/
    /*-webkit-transform: scale(1.05); !* Для Safari, Chrome, iOS *!*/
    /*-o-transform: scale(1.05); !* Для Opera *!*/
    /*transform: scale(1.05);*/

}

