{% extends  'core/base.html' %}
{% load i18n %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="grid-x">
        <div class="cell small-12 medium-5 large-4 float-center">
            <div class="card">
                <div class="card-divider">
                    {% if title %}<h4 class=''>{{ title }}</h4>{% endif %}
                </div>
                <div class="card-section">
                    <form data-abide novalidate method="post">
                        {% csrf_token %}
                        {{ form.as_table }}
                        <button type='submit' class='button success small expanded'>{% trans "Save changes" %}</button>
                        <a class="button secondary small expanded" href="{% url 'accounts:dashboard' %}">{% trans "Cancel" %}</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
