{% extends "core/base.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="row">
    <div class="card small-9 medium-5 large-4 float-center">
        {% if title %}<h3 class=''>{{ title }}</h3>{% endif %}
        <form method='POST' action='{% if action_url %}{{ action_url }}{% endif %}'> {% csrf_token %}
            {% if next_url %}
                <input type='hidden' name='next' value='{{ next_url }}'/>
            {% endif %}
            {{ form }}
            <button type='submit' class='button float-center'>Save</button>
        </form>
    </div>
    </div>
{% endblock %}