{% extends 'core/base.html'  %}
{% load i18n %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content  %}
<div class="row">
    <div class="card small-9 medium-4 large-3 float-left">
        <div class="card-divider">
            <h4>{{ title }}</h4>
        </div>
        <div class="card-section no-bullet">
            {% if user.full_name %}
                <li>{{ user.full_name }}</li>
            {% endif %}
            <li>{{ user.email  }}</li>
        </div>
    </div>
    <div class='card small-9 medium-4 large-4 float-left'>
        <h4 class="card-divider">Account Details</h4>
        <div class="card-section no-bullet">
            <li><a href='{% url "accounts:user-update" %}'>Update Details</a></li>
            <li><a href='{% url "accounts:change_password" %}'>Change Password</a></li>
        </div>
    </div>
</div>
{% endblock %}
