{% extends 'core/base.html' %}
{% load i18n %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content  %}
<div class="row column">
    <div class="card small-9 medium-4 large-3 float-left">
        <div class="card-divider">
            <h4>{{ title }}</h4>
        </div>
        <div class="card-section no-bullet">
            {% if user.full_name %}
                <li>{{ user.full_name }}</li>
            {% endif %}
            <li>{{ user.email  }}</li>
        </div>
    </div>
    <div class='card small-9 medium-4 large-4 float-left'>
        <h4 class="card-divider">{% trans "Account Details" %}</h4>
        <div class="card-section no-bullet">
            <li><a href='{% url "accounts:user-update" %}'>{% trans "Update Account Details" %}</a></li>
            <li><a href='{% url "accounts:change_password" %}'>{% trans "Change Password" %}</a></li>
            <li><a href='{% url "toast:profile-update" %}'>{% trans "Update Profile" %}</a></li>
        </div>
    </div>
</div>
{% endblock %}
