{% extends 'core/base.html' %}
{% load i18n %}

{% block title %}
    {% trans "Log in" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="card small-9 medium-5 large-4 float-center">
            <div class="card-divider">
                <h4>{% trans "Log in" %}</h4>
            </div>
{#            <img src="{{ MEDIA_URL }}img_site/765887.jpg" alt="" class="card-image">#}
            <div class="card-section">
                <form action="" method="post">{% csrf_token %}
                    {{ form }}
                    <button type='submit' class='button success small expanded'>{% trans "Log in" %}</button>
                    <a class="button small expanded"  href="{% url 'accounts:register' %}">{% trans 'Register' %}</a>
                </form>
            </div>
        </div>

    </div>
{% endblock %}
