{% extends 'core/base.html' %}
{% load i18n %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content  %}
{% url 'company:company_add' as url_company_add %}
{% url 'company:company_update' pk=company.pk as url_company_update %}

<div>
    {% if title %}<h4 class='header'>{{ title }}</h4><hr>{% endif %}
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form.media }}

        {% for field in form %}
            <div class="grid-y grid-margin-y">
                {% if field.errors %}
                    <div class="small-offset-3 cell" style="margin-bottom: -1rem;">{{ field.errors }}</div>
                {% endif %}
                <div class="cell grid-x grid-padding-x">
                    <label for="{{ field.name }}" class="small-12 medium-4 cell medium-text-right large-text-right">
                        {% trans field.label %}</label>
                    <div class="small-12 medium-4 cell short-text">{{ field }}
                        {% if field.help_text %}
                            <p class="help-text">{{ field.help_text }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="button-group small align-center">
        {% if request.path == url_company_add %}
            <a class="button secondary" href="{% url 'accounts:dashboard' %}">{% trans "Cancel" %}</a>
            <button type='submit' class='button success '>{% trans "Add company" %}</button>
        {% elif request.path == url_company_update %}
            <a class="button alert small" href="{% url 'company:company_delete' pk=company.pk %}">{% trans "Delete" %}</a>
            <a class="button secondary" href="{% url 'accounts:dashboard' %}">{% trans "Cancel" %}</a>
            <button type='submit' class='button success'>{% trans "Update company" %}</button>
        {% endif %}
        </div>
    </form>
</div>
{% endblock %}