{% extends 'core/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{{ company.name }}{% endblock %}

{% block link %}
    {# SLICK #}
    <link rel="stylesheet" type="text/css" href="{% static 'slick-carousel/slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'slick-carousel/slick/slick-theme.css' %}"/>

{#    jcarousel#}

    <link rel="stylesheet" href="{% static 'jcarousel/jcarousel.responsive.css' %}">

    {# LIGHTGALLERY #}
{#    <link type="text/css" rel="stylesheet" href="{% static 'lightgallery.js/dist/css/lightgallery.min.css' %}"/>#}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.9/css/lightgallery.min.css">


{% endblock %}

{% block content %}

    <div class="row grid-x grid-margin-x">
        <!-- LEFT -->
        <div class="cell small-12 medium-9 large-9">
            <div class="grid-x grid-margin-x grid-margin-y">
                {#    <div class="cell small-12 medium-5 large-5 columns">#}
                <!-- CARD INFO -->
                <div class="cell">
                    <div class="grid-x grid-margin-x ">

                        <!-- PHOTO -->
                        <div class="cell small-12 medium-12 large-4" style="position: relative;">
                            <img id="avatar" class="thumbnail" src="{{ company.avatar.medium.url }}">
                            <button type="button" data-url="{% url 'api_company:favorite' pk=view.kwargs.pk %}" id="addFavorite"
                                    class="hollow success button small expanded float-center">
                                {% if fav == False %}
                                    <i class="far fa-heart fa-lg"></i>
                                    <span class="hide">{% trans "In favorites" %}</span>
                                    <span>{% trans "Add to favorites" %}</span>
                                {% else %}
                                    <i class="far fa-heart fa-lg fas fav"></i>
                                    <span>{% trans "In favorites" %}</span>
                                    <span class="hide">{% trans "Add to favorites" %}</span>
                                {% endif %}
                            </button>

                            {#            <div class="cell small-up-4">#}
                            {#                <div class="column">#}
                            {#                    <img class="thumbnail" src="{{ company.photo1.medium.url}}">#}
                            {#                </div>#}
                            {#                <div class="column">#}
                            {#                    <img class="thumbnail" src="{{ company.photo2.medium.url}}">#}
                            {#                </div>#}
                            {#                <div class="column">#}
                            {#                    <img class="thumbnail" src="{{ company.photo3.medium.url}}">#}
                            {#                </div>#}
                            {#                <div class="column">#}
                            {#                    <img class="thumbnail" src="https://placehold.it/250x200">#}
                            {#                </div>#}
                            {#            </div>#}
                        </div>

                        <!-- INFO -->
                        <div class="cell small-12 medium-12 large-8">
                            <div class="grid-x grid-margin-x grid-margin-y">

                                <div class="cell">
                                    <h3 class="subheader">{{ company.name }}</h3>
                                    {% if company.get_locations %}
                                        <div class="subheader">{% trans "Location" %}: {{ company.get_locations }}</div>
                                    {% endif %}
                                </div>

                                <div class="cell">
                                    {% for tag in company.tags.all %}
                                        <a class="label label-tag"
                                                href="{% url 'tags:tag_detail' slug=tag.slug %}">{{ tag }}</a>
                                    {% endfor %}
                                </div>

                                <div class="cell">
                                    {% if company.address %}
                                        <div class=""><i class="fi-marker "></i> {{ company.address }}</div>
                                    {% endif %}
                                    {% if company.email %}
                                        <div class=""><i class="fi-mail"></i> {{ company.email }}</div>
                                    {% endif %}
                                    {% if company.phone %}
                                        <div class=""><i class="fi-telephone"></i> {{ company.phone }}</div>
                                    {% endif %}
                                    {% if company.site %}
                                        <div class=""><i class="fi-web"></i> {{ company.site }}</div>
                                    {% endif %}
                                </div>

                                {#            <div class="row">#}
                                {#                <div class="small-3 columns">#}
                                {#                    <label for="middle-label" class="middle">Quantity</label>#}
                                {#                </div>#}
                                {#                <div class="small-9 columns">#}
                                {#                    <input type="text" id="middle-label" placeholder="One fish two fish">#}
                                {#                </div>#}
                                {#            </div>#}
                                {#            <a href="#" class="button large expanded">Buy Now</a>#}
                                <div class="cell small secondary expanded button-group">
                                    <a class="button">Facebook</a>
                                    <a class="button">Twitter</a>
                                    <a class="button">Yo</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- DESCRIPTION -->
                <div class="cell">
                    {% if company.description %}
                        <h4 class="subheader">{% trans "Information" %}</h4>
                        <div class="column">
                            {{ company.description|safe }}</div>
                    {% endif %}
                </div>

                <!-- ALBUM/PHOTO (jcarousel and lightgallery)-->
                <div class="cell wrapper">
                {% for album in albums %}

                    <!-- Show the first album -->
                    {% if forloop.first %}
                    <h5><small>{% trans "Photo album" %}</small>
                        <span class="badge success">{{ album.get_count_photo }}</span><hr></h5>

                    <h5>{{ album.name }}</h5>
                    {% if album.summary  %}
                        <h6><small>{% trans "Description" %}: </small>{{ album.summary }}</h6>
                    {% endif %}

{#                    <div class="jcarousel-wrapper">#}
                    <div class="jcarousel-wrapper thumbnail ">
                        <div class="jcarousel">
                            <ul id="lightgallery">
                                {% for photo in album.get_photo %}
                                      <li data-src="{{ photo.image.url }}" data-sub-html=".caption">
                                        <img class="float-center" src="{{ photo.image.thumbnail.url }}">
                                        <div class="caption hide">
                                            <h4>{% trans 'Album' %}: {{ album }}</h4>
                                            <h4>{{ photo.name }}</h4>
                                            <p>{{ photo.title }}</p>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <button class="jcarousel-control-prev" type="button">
                            <i class="fas fa-arrow-circle-left" ></i>
                        </button>
                        <button class="jcarousel-control-next" type="button">
                            <i class="fas fa-arrow-circle-right" ></i>
                        </button>

                        <p class="jcarousel-pagination"></p>
                    </div>
                    {% endif %}
                {% endfor %}
                </div>

                <!-- Show albums -->
                {% if albums.all.count > 0 %}
                    <div class="cell grid-x align-left" >
                        <h5 class="cell">
                            <small>{% trans "All albums" %}</small>
                            <span class="badge success">{{ albums.all.count }}</span><hr>
                        </h5>

                        {% for album in albums %}
                            <div class="cell small-12 medium-6 large-3">
                                <div class="thumbnail">
                                    <div style="height: 200px">
                                        <a href="{% url 'gallery:photo' pk=album.id %}">
                                        <img class="float-center"   src="{{ album.get_cover_photo.image.thumbnail.url }}">
                                        </a>
                                    </div>

                                    <h5 class="card-section text-center">
                                        <a class="" href="{% url 'gallery:photo' pk=album.id %}">{{ album.name }}</a>
                                    </h5>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

            </div>
        </div>

        <!-- RIGHT / Advertising -->
        <div class="cell small-12 medium-3 large-3">
            <div class="grid-x grid-margin-y">
                <div class="cell small-12 medium-12 large-12">
                    <img class="thumbnail float-center" src="https://placehold.it/400x500">
                </div>
                <div class="cell small-12 medium-12 large-12">
                    <img class="thumbnail float-center" src="https://placehold.it/400x500">
                </div>
                <div class="cell small-12 medium-12 large-12">
                    <img class="thumbnail float-center" src="https://placehold.it/400x500">
                </div>
                <div class="cell small-12 medium-12 large-12">
                    <img class="thumbnail float-center" src="https://placehold.it/400x500">
                </div>
            </div>
        </div>


    </div>
{% endblock %}


{% block javascript %}

    <!-- Include slick.js -->
{#    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>#}
{#    <script type="text/javascript" src="{% static 'slick-carousel/slick/slick.min.js' %}"></script>#}
{##}
{#     <script type="text/javascript">#}
{#        $(document).ready(function () {#}
{#            var $carousel = $('.div-slick');#}
{##}
{#            $carousel.slick({#}
{#                arrows: false,#}
{#                autoplay: true,#}
                {#centerMode: true,#}
{#                dots: true,#}
                {#draggable: 'mobile',#}
{#                lazyLoad: 'ondemand',#}
{#                slidesToShow: 5,#}
{#                slidesToScroll: 1,#}
                {#mobileFirst: true#}
                {#focusOnSelect: true,#}
{#            });#}
{#        });#}
{##}
{#    </script>#}

    <!-- jcarousel -->
    <script type="text/javascript" src="{% static 'jcarousel/jquery.jcarousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jcarousel/jcarousel.responsive.js' %}"></script>

    {# LIGHTGALLERY #}
{#    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lightgallery.js@1.0.2/lib/js/lightgallery.min.js"></script>#}

{#    <!-- Include lightgallery.js -->#}
{#    <script type="text/javascript" src="{% static 'lightgallery.js/dist/js/lightgallery.min.js' %}"></script>#}
{##}
{#    <!-- Include lg-thumbnail.js -->#}
{#    <script type="text/javascript" src="{% static 'lg-thumbnail.js/dist/lg-thumbnail.min.js' %}"></script>#}
{##}
{#    <!-- Include lg-fullscreen.js -->#}
{#    <script type="text/javascript" src="{% static 'lg-fullscreen.js/dist/lg-fullscreen.min.js' %}"></script>#}
{##}
{#    <!-- Include lg-zoom.js -->#}
{#    <script type="text/javascript" src="{% static 'lg-zoom.js/dist/lg-zoom.min.js' %}"></script>#}
{##}
{#    <!-- Include lg-autoplay.min.js -->#}
{#    <script type="text/javascript" src="{% static 'lg-autoplay.js/dist/lg-autoplay.min.js' %}"></script>#}

    <!-- Include lg-video.js -->
    {#<script type="text/javascript" src="{% static 'lg-video.js/dist/lg-video.min.js' %}"></script>#}

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.9/js/lightgallery-all.min.js"></script>

{#    <script type="text/javascript">#}
{#        $(document).ready(function () {#}
{#            {% for album in albums %}#}
{#                lightGallery(document.getElementById('lightgallery_{{ album.id }}'), {#}
{#                    thumbnail: true,#}
{#                    selector:'custom-selector',#}
                    {#galleryId: 6,#}
{#                });#}
{#            {% endfor %}#}
{#    </script>#}

    <script type="text/javascript">
	  $(document).ready(function() {
	    $("#lightgallery").lightGallery({
            subHtmlSelectorRelative: true
	    });
	  });
	</script>
{% endblock %}
