{% extends 'core/base.html' %}

{% block title %}
    List of companies
{% endblock %}

{#{% block header %}#}
{#    <h2 class="subheader">Тамада и ведущий на свадьбу{% if header %}: {{ header }}{% endif %}</h2>#}
{#{% endblock %}#}

{% block content %}
    <div class="row">

        {# FORM FILTER #}
        {% include 'company/include/form_filter.html' %}

        <div class="small-12 medium-8 large-9 float-left">
        <h3 class="subheader text-center">Тамада и ведущий на свадьбу{% if header %}: {{ header }}{% endif %}</h3>
            <div class="row small-up-1 medium-up-2 large-up-3 ">
                {% for company in companies %}
                    <div class="column">
                        <div class="callout">
                            <p><img src="{{ MEDIA_URL }}{{ company.img }}" alt="{{ company.name }}">
                            </p>
                            <p class="lead"><a
                                    href="{% url 'company:company_detail' pk=company.user_id %}">{{ company.name }}</a></p>
                        </div>
                    </div>
                {% empty %}
                    <p>Не найдено</p>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}