{% extends 'core/base.html' %}
{% load i18n %}

{% block title %}
    {{ company.name }}
{% endblock %}

{% block content %}
    <div class="grid-x grid-margin-y">
        <div class="row cell medium-5 large-5 columns">
            <img class="thumbnail" src="{{ company.avatar.medium.url }}">
{#            <div class="cell small-up-4">#}
{#                <div class="column">#}
{#                    <img class="thumbnail" src="{{ company.photo1.medium.url}}">#}
{#                </div>#}
{#                <div class="column">#}
{#                    <img class="thumbnail" src="{{ company.photo2.medium.url}}">#}
{#                </div>#}
{#                <div class="column">#}
{#                    <img class="thumbnail" src="{{ company.photo3.medium.url}}">#}
{#                </div>#}
{#                <div class="column">#}
{#                    <img class="thumbnail" src="https://placehold.it/250x200">#}
{#                </div>#}
{#            </div>#}
        </div>
        <div class="row cell medium-7 large-7 columns">

            <h3 class="subheader">{{ company.name }}</h3>

            {% if company.get_locations %}
                <div class="subheader">{% trans "Location" %}: {{ company.get_locations }}</div>
            {% endif %}

            <div class="">
                {% for tag in company.tags.all %}
                   <span class="label success"> <a href="{% url 'tags:tag_detail' slug=tag.slug %}">{{ tag }}</a></span>
                {% endfor %}
            </div>
            <br>
            {% if company.address %}
                <div class=""><i class="fi-marker "></i> {{ company.address }}</div>
            {% endif %}
            {% if company.email %}
                <div class=""><i class="fi-mail"></i> {{ company.email }}</div>
            {% endif %}
            {% if company.phone %}
                <div class=""><i class="fi-telephone"></i> {{ company.phone }}</div>
            {% endif %}
            {% if company.site %}
                <div class=""><i class="fi-web"></i> {{ company.site }}</div>
            {% endif %}

{#            <div class="row">#}
{#                <div class="small-3 columns">#}
{#                    <label for="middle-label" class="middle">Quantity</label>#}
{#                </div>#}
{#                <div class="small-9 columns">#}
{#                    <input type="text" id="middle-label" placeholder="One fish two fish">#}
{#                </div>#}
{#            </div>#}
{#            <a href="#" class="button large expanded">Buy Now</a>#}
            <div class="small secondary expanded button-group">
                <a class="button">Facebook</a>
                <a class="button">Twitter</a>
                <a class="button">Yo</a>
            </div>
        </div>


    <div class="row cell">
        {% if company.description %}
            <h4>{% trans "Information" %}</h4>
            <div class="column">
            {{ company.description|safe }}</div>
        {% endif %}
    </div>

{#ALBUM#}
{#    <div class="row grid-x grid-margin-x grid-margin-y align-left">#}
{#        {% for album in company.album.all %}#}
{#            <li>{{ album }}</li>#}
{#            <li>Cover photo: {{ album.get_cover_photo }}</li>#}
{#            <div class="cell small-12 medium-4 large-3">#}
{#            <div class="thumbnail card " style="height: 100%; width: 100%;">#}
{##}
{#                {% if album.get_cover_photo %}#}
{#                <div style="height: 200px">#}
{#                    <a href="{% url 'gallery:photo' album=album.slug %}">#}
{#                        <img class="float-center" src="{{ album.get_cover_photo.image.thumbnail.url }}">#}
{#                    </a>#}
{#                </div>#}
{#                {% endif %}#}
{#                <h5 class="card-section text-center">#}
{#                    <a class=""#}
{#                       href="{% url 'gallery:photo' album=album.slug %}">{{ album.name|truncatechars:50 }}</a>#}
{#                    <br>{{ album.summary|truncatechars:50 }}#}
{#                </h5>#}
{#            </div>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}

{#    PHOTO#}
{#    <div class="row grid-x grid-margin-x">#}
{#        {% for album in company.album.all %}#}
{#                {% for photo in album.get_photo %}#}
{#                    {% if photo.image.thumbnail.url and photo.image %}#}
{#                         <div class="cell small-12 medium-4 large-3">#}
{#                            <a href="">#}
{#                                <img src="{{ photo.image.thumbnail.url }}">#}
{#                            </a>#}
{#                         </div>#}
{##}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#        {% endfor %}#}
{#    </div>#}
{#    <br>#}
{#    <br>#}
{#    <br>#}


    <div class="row cell">
        {% for album in company.album.all %}
            <div class="grid-y grid-margin-y">
                {% if album.get_photo %}
                    <h5 class="cell">{{ album.name }}</h5>
                    <div class="cell grid-x grid-margin-x grid-margin-y">
                        {% for photo in album.get_photo %}
                            <div class="cell small-6 medium-2 thumbnail">
                                <img src="{{ photo.image.thumbnail.url }}"  >
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

{#    <div class="column row">#}
{#        <hr>#}
{#        <ul class="tabs" data-tabs id="example-tabs">#}
{#            <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Reviews</a></li>#}
{#            <li class="tabs-title"><a href="#panel2">Similar Products</a></li>#}
{#        </ul>#}
{#        <div class="tabs-content" data-tabs-content="example-tabs">#}
{#            <div class="tabs-panel is-active" id="panel1">#}
{#                <h4>Reviews</h4>#}
{#                <div class="media-object stack-for-small">#}
{#                    <div class="media-object-section">#}
{#                        <img class="thumbnail" src="https://placehold.it/200x200">#}
{#                    </div>#}
{#                    <div class="media-object-section">#}
{#                        <h5>Mike Stevenson</h5>#}
{#                        <p>I'm going to improvise. Listen, there's something you should know about me... about#}
{#                            inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an#}
{#                            idea can grow. It can grow to define or destroy you.</p>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="media-object stack-for-small">#}
{#                    <div class="media-object-section">#}
{#                        <img class="thumbnail" src="https://placehold.it/200x200">#}
{#                    </div>#}
{#                    <div class="media-object-section">#}
{#                        <h5>Mike Stevenson</h5>#}
{#                        <p>I'm going to improvise. Listen, there's something you should know about me... about#}
{#                            inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an#}
{#                            idea can grow. It can grow to define or destroy you</p>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="media-object stack-for-small">#}
{#                    <div class="media-object-section">#}
{#                        <img class="thumbnail" src="https://placehold.it/200x200">#}
{#                    </div>#}
{#                    <div class="media-object-section">#}
{#                        <h5>Mike Stevenson</h5>#}
{#                        <p>I'm going to improvise. Listen, there's something you should know about me... about#}
{#                            inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an#}
{#                            idea can grow. It can grow to define or destroy you</p>#}
{#                    </div>#}
{#                </div>#}
{#                <label>#}
{#                    My Review#}
{#                    <textarea placeholder="None"></textarea>#}
{#                </label>#}
{#                <button class="button">Submit Review</button>#}
{#            </div>#}
{#            <div class="tabs-panel" id="panel2">#}
{#                <div class="row medium-up-3 large-up-5">#}
{#                    <div class="column">#}
{#                        <img class="thumbnail" src="https://placehold.it/350x200">#}
{#                        <h5>Other Product#}
{#                            <small>$22</small>#}
{#                        </h5>#}
{#                        <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac#}
{#                            euismod semper, magna diam.</p>#}
{#                        <a href="#" class="button hollow tiny expanded">Buy Now</a>#}
{#                    </div>#}
{#                    <div class="column">#}
{#                        <img class="thumbnail" src="https://placehold.it/350x200">#}
{#                        <h5>Other Product#}
{#                            <small>$22</small>#}
{#                        </h5>#}
{#                        <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac#}
{#                            euismod semper, magna diam.</p>#}
{#                        <a href="#" class="button hollow tiny expanded">Buy Now</a>#}
{#                    </div>#}
{#                    <div class="column">#}
{#                        <img class="thumbnail" src="https://placehold.it/350x200">#}
{#                        <h5>Other Product#}
{#                            <small>$22</small>#}
{#                        </h5>#}
{#                        <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac#}
{#                            euismod semper, magna diam.</p>#}
{#                        <a href="#" class="button hollow tiny expanded">Buy Now</a>#}
{#                    </div>#}
{#                    <div class="column">#}
{#                        <img class="thumbnail" src="https://placehold.it/350x200">#}
{#                        <h5>Other Product#}
{#                            <small>$22</small>#}
{#                        </h5>#}
{#                        <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac#}
{#                            euismod semper, magna diam.</p>#}
{#                        <a href="#" class="button hollow tiny expanded">Buy Now</a>#}
{#                    </div>#}
{#                    <div class="column">#}
{#                        <img class="thumbnail" src="https://placehold.it/350x200">#}
{#                        <h5>Other Product#}
{#                            <small>$22</small>#}
{#                        </h5>#}
{#                        <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac#}
{#                            euismod semper, magna diam.</p>#}
{#                        <a href="#" class="button hollow tiny expanded">Buy Now</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}



    </div>
{% endblock %}