{% extends 'core/base.html' %}
{% load i18n %}

{% block title %}
    List of companies
{% endblock %}

{#{% block header %}#}
{#    <h2 class="subheader">Тамада и ведущий на свадьбу{% if header %}: {{ header }}{% endif %}</h2>#}
{#{% endblock %}#}

{% block content %}
    <div class="grid-x">

        {# FORM FILTER #}
        <div class="cell small-10 medium-4 large-2 column">{% include 'company/include/form_filter.html' %}</div>

        <div class="cell small-12 medium-8 large-10 float-left">
            <h3 class="subheader text-center">
                {% if header.location %}{% trans 'City' %}: {{ header.location }}{% endif %}
                {% if header.type %}{% trans 'Type' %}: {{ header.type }}{% endif %}
                {% if header.price %}{% trans 'Price' %}: {{ header.price }}{% endif %}
            </h3>
            <div class="grid-container">
                <div class="grid-x grid-margin-x">
                    {% for company in companies %}
                        <div class="cell medium-3">
                            <div class=" thumbnail card">
                                <a href="{% url 'company:company_detail' pk=company.id %}">
                                    <img src="{{ MEDIA_URL }}{{ company.img }}" alt="{{ company.name }}">
                                </a>
                                <p class="card-section"><a
                                        href="{% url 'company:company_detail' pk=company.id %}">{{ company.name }}</a></p>
                            </div>
                        </div>
                    {% empty %}
                        <p>Не найдено</p>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}