.card-form {
  @include foundation-card;
  border: 1px solid $light-color;
  .card-divider {
    background: $light-color;
    color: #fefefe;
    font-family: ItimCyrillic;
  }

  form {
    font-family: ItimCyrillic;

    // запрет выдиления текста
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
      border: 1px solid $light-color;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      cursor: pointer;


      &:focus {
        border: 1px solid $light-color;
        -webkit-box-shadow: 0 0 2px $light-color;
        -moz-box-shadow: 0 0 2px $light-color;
        box-shadow:  0 0 2px $light-color;

        transition: box-shadow .5s,border-color .25s ease-in-out,-webkit-box-shadow .5s;

      }
      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $light-color;
        opacity: 1; /* Firefox */
      }
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $light-color;
      }
      &::-ms-input-placeholder { /* Microsoft Edge */
        color: $light-color;
      }
    }

    ul {
      list-style-type: none;
      margin-left: 0;
      li{
        margin-bottom: 5px;
      };
    }
    .help-text, .helptext {
      margin-top: -0.5rem;
      font-size: 0.8125rem;
      font-style: italic;
      color: #0a0a0a;
    }
    .inputfile {
      border: none;
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
      cursor: pointer;
    }
    .button-addfile{
      background-color: $light-color;
      color: white;

      white-space: nowrap; /* Запрещаем перенос строк */
      overflow: hidden; /* Обрезаем все, что не помещается в область */
      text-overflow: ellipsis; /* Добавляем многоточие */

      &:hover{background-color: darken($light-color, 7%);}

      //&:focus{
      //  outline: 1px dotted #000;
	   // outline: -webkit-focus-ring-color auto 5px;
      //}
    }


    .container {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      label {
        color: $light-color;
        cursor: pointer;
      }

      /* Hide the browser's default checkbox */
      & input {
        cursor: pointer;
        position: absolute;
        opacity: 0;
      }

      /* On mouse-over, add a grey background color */
      &:hover input ~ .checkmark {background-color: darken($light-color, 7%);}

      /* When the checkbox is checked, add a blue background */
      & input:checked ~ .checkmark {
        //background-color: #3ADB76;
        background-color: darken($light-color, 10%);
      }

      /* Show the checkmark when checked */
      & input:checked ~ .checkmark:after {
        display: block;
      }

      /* Style the checkmark/indicator */
      & .checkmark:after {
        left: 9px;
        top: 5px;
        width: 7px;
        height: 13px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }

    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: $light-color;


      /* Create the checkmark/indicator (hidden when not checked) */
      &:after {
        content: "";
        position: absolute;
        display: none;
      }
    }
  }





  // select border
  .select2-container--foundation .select2-selection,
  .select2-container--foundation.select2-container--focus .select2-selection,
  .select2-container--foundation.select2-container--open .select2-selection {
    border: 1px solid $light-color;
    &:focus {
      -webkit-box-shadow: 0 0 2px $light-color;
      -moz-box-shadow: 0 0 2px $light-color;
      box-shadow:  0 0 2px $light-color;
    }
  }
  .select2-container--foundation .select2-selection--single .select2-selection__arrow b,
  .select2-container--foundation .selection .select2-selection--single .select2-selection__arrow b {
    border-color: $light-color transparent;
  }
  .select2-container--foundation .select2-dropdown  {
    border: 1px solid $light-color;
    border-top: 1px solid lighten($light-color, 10%);
  }
  .select2-container--foundation .select2-selection--single .select2-selection__rendered,
  .select2-container--foundation .selection .select2-selection--single .select2-selection__rendered {
    color: darken($light-color, 20%);
    padding-left: 0;
  }
  .select2-container--foundation .select2-selection__clear {
    color: darken($light-color, 15%);
    &:hover{color: darken($light-color, 20%);}
  }
}

#select2-id_album-container {
  .select2-selection__placeholder{color: $light-color;}
}

.select2-container--foundation #select2-id_album-results{
  .select2-results__option--highlighted[aria-selected] {
    background-color: $light-color;
    color: #ffffff;
  }
  .select2-results__option{
    color: $light-color;
  }
}

.select2-container--foundation .select2-dropdown{
  border: none;
  border-top: none;
  #select2-id_album-results{
    border: 1px solid $light-color;
    border-top: 1px solid lighten($light-color, 10%);
  }
}

