//@include hamburger($color, $color-hover, $width, $height, $weight, $bars)

@font-face {
    font-family: OstrichSans-Bold;
    src: url('/static/fonts/OstrichSans-Bold.otf');
}
@font-face {
    font-family: ItimCyrillic;
    src: url('/static/fonts/ItimCyrillic.otf');
}

$main-color-background: coral;
$color-item-light: lightcoral;






@import '../../node_modules/foundation-sites/scss/foundation.scss';



// Dependencies
@import 'menu';
@import 'card-companies';
@import 'card-form';
@import 'footer';



// SELECT2
@media screen and (max-width: 767px) {
  .form-select2-type, .form-select2-city, .form-select2-price {
    width: 100%;
  }
}

.pagination{
  a:hover{
    background-color: $color-item-light;
  }

  a.current{
    background-color: $main-color-background;
  }
}

.short-text {
  overflow: hidden;
  text-overflow: ellipsis;
}


/*FILTER*/
#form-filter {
    background-color: $main-color-background;

    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;

    /*flex-flow: row ;*/
    /*flex-wrap: wrap;*/
    align-content: center;
    justify-content: center;
    color: white;

    label{color: white;}
}


