//@include hamburger($color, $color-hover, $width, $height, $weight, $bars)

@font-face {
    font-family: OstrichSans-Bold;
    src: url('/static/fonts/OstrichSans-Bold.otf');
}
@font-face {
    font-family: ItimCyrillic;
    src: url('/static/fonts/ItimCyrillic.otf');
}

$main-color: coral;
$light-color: lightcoral;

$max-width-content: 980px;




@import '../../node_modules/foundation-sites/scss/foundation.scss';



// Dependencies
@import 'menu';
@import 'companies';
@import 'card-form';
@import 'filter';
@import 'footer';



// SELECT2
@media screen and (max-width: 767px) {
  .form-select2-type, .form-select2-city, .form-select2-price {
    width: 100%;
  }
}

.pagination{
  a:hover{
    background-color: $light-color;
  }

  a.current{
    background-color: $main-color;
  }
}

.short-text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-company-list {
    background-color: coral;
    color: white;
    height: 200px;
}

.content {
    margin-top: 10px;
    max-width: $max-width-content;
}


