{% extends 'core/base.html' %}
{#{% load staticfiles %}#}

{% block title %}
    List of toasters
{% endblock %}

{% block header %}
    <h1 class="subheader">List of toasters</h1>
{% endblock %}

{% block content %}
    <div class="row small-up-1 medium-up-2 large-up-3">

        {% for toaster in toasters %}

            <div class="column">
                <div class="callout">
                    <p><img src="{{ MEDIA_URL }}{{ toaster.img }}" alt="{{ toaster.name }}">
                    </p>
                    <p class="lead"><a href="{% url 'toast:toaster_detail' pk=toaster.id %}">{{ toaster.name }}</a></p>
                </div>
            </div>

        {% empty %}
            <p>No toasters yet.</p>
        {% endfor %}

    </div>
{% endblock %}